footer {
  width: 300px;
  text-align: center;
  margin: 20px auto;
}

p {
  font-family: Verdana, Sans-Serif;
  font-size: 12px;
  color: #82828a;
}

a {
  text-decoration: underline;
  color: #666;
}

.appstore_button {
  display: inline-block;
  margin-top: 10px;
  overflow: hidden;
  background: url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg)
    no-repeat;
  width: 165px;
  height: 40px;
}
