<footer>
  <p>Developed by <a href="http://stevenmartin.info">Steven Martin</a></p>
  <p class="app_info">Continuously Mac is also available as an iOS App.</p>
  <p class="app_info">
    <a
      href="https://itunes.apple.com/gb/app/continuously-mac/id1146167427?mt=8"
      style="
        display: inline-block;
        overflow: hidden;
        background: url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg)
          no-repeat;
        width: 165px;
        height: 40px;
      "
    ></a>
  </p>
</footer>
