<div class="articles">
  <div class="header">
    <h1>CONTINOUSLY MAC</h1>
    <p>
      Continuously Mac is a news aggregator dedicated to finding you the latest
      apple news from the very best Tech Journalists.
    </p>
    <p>
      No complex categories to navigate, just a simple list of great Apple news.
    </p>
  </div>
  <div class="header">
    <p>&nbsp;</p>
  </div>
  <div class="article" *ngFor="let article of articles">
    <a href="{{ article.article_link }}" data-qa="article_link">
      <div class="article_image_container">
        <img src="{{ article.article_photo }}" class="article_image" />
      </div>
      <div class="badge_news_container">
        <img
          src="/assets/images/badges/{{ article.category_badge }}.png"
          class="badge_image"
        />
      </div>
      <div class="badge_description_container">
        <span data-qa="article_category">{{ article.category }}</span>
      </div>
    </a>
    <div class="article_text_container">
      <a href="{{ article.article_link }}">
        <div class="article_description">
          <p>{{ article.article_description }}</p>
        </div>
      </a>
      <a href="{{ article.source_url }}" data-qa="source_url">
        <div class="article_source_section">
          <img src="{{ article.source_photo }}" class="article_byline_image" />
          <p>
            {{ article.source_name }}<br />
            <span class="post">{{ article.date | timeAgo }}</span>
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
