.articles {
    column-gap: 20px;
    padding: 0px;
    float: left;
}

.header {
    border-radius: 0px;
    width: 345px;
    margin: 0px 10px 28px 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #fff;
    z-index:1;
    display: block;
    float: left;
}

.article {
    border-radius: 0px;
    width: 345px;
    margin: 0px 10px 28px 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #fff;
    z-index:1;
    display: block;
    float: left;
}

.article_image_container {
    width: 345px;
    margin: 0px;
    border-style: none;
    border-bottom: 1px solid #aaa;
    }
    
    .article_image {
        display: block;
        max-width:345px;
        width: auto;
        height: auto;
        padding: 0px;
        margin: 0px;
    }


.badge_news_container {
    width: 345px;
    height: 24px;
    padding: 0px;
    margin: -24px 0px 0px 0px;
    text-align: center;
    background-color: #eee;
}

    .badge_image {
        margin: 0px auto;
        padding: 0px;
        overflow: hidden;
        width: 48px;
        height: 48px;
    }


.badge_description_container {
    width: 345px;
    height: 16px;
    padding: 0px;
    margin: 32px 0px 0px 0px;
    text-align: center;
    background-color: #fff;
    font-size: 14px;
}


.article_text_container {
    margin: 0px;
    padding: 0px;
    width: 345px;
    background-color: #fff;
    overflow: hidden;
}

.article_description {
    font-size: 16px;
    padding: 20px 15px 30px 15px;
    margin: 0px;
    text-align: left;
    min-height: 40px;
    width: 315px;
}


.article_source_section {
    text-align: left;
    font-size: 14px;
    line-height: 1; 
    margin: 0;
    width: 315px;
    min-height: 20px;
    padding: 15px 15px 20px 15px;
    vertical-align: middle;
    color: #000;
    background-color: #fafafa;
    border-style: none;
    border-top: 1px solid #eee;
    overflow:auto;
}
.article_source_section p {
    float: left;
    line-height: 1.3; 
    padding: 5px 5px 2px 5px;
}

.article_byline_image {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    float: left;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    border-radius: 24px;
}

.post {
    color:  #999;
}